<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;500;700&family=Montserrat:ital,wght@0,300;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;500;700&display=swap');
=======
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
@import url("https://fonts.googleapis.com/css?family=Fraunces:100");
>>>>>>> de93ddb2a75359aa206ce7a96fbc80ba9017107b
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
}
.card{
    /* background-color: hsl(30, 38%, 92%); */
    display: flex;
    align-items: center;
<<<<<<< HEAD
}
.square{
    width: 70rem;
    height: 90vh;
    background: hsl(30, 38%, 92%);
    box-shadow:0 0 40px rgba(0,0,0,0.5);
    margin:auto;
    display: flex;
=======
>>>>>>> de93ddb2a75359aa206ce7a96fbc80ba9017107b
    justify-content: center;
    flex-direction: row;
    padding: 12%;
}
.container{
<<<<<<< HEAD
    width: 39rem;
    height: 85%;
=======
    /* background-color: white; */
    width: 50%;
    max-width: 800px;
>>>>>>> de93ddb2a75359aa206ce7a96fbc80ba9017107b
    display: flex;
    border-radius: 2vh;
}
.picture{
    width: 50%;
}
.picture img{
   width: 100%;
   height: 100%;
   border-top-left-radius: 2vh;
   border-bottom-left-radius: 2vh;
}
.details{
   background-color: white;
   padding: 5%;
   width: 50%;
}
.perfume{
    background-color: white;
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    letter-spacing: .5rem;
    margin-bottom: 3%;
    font-family: Montserrat;
    font-weight: 700;
}
<<<<<<< HEAD
.content h1{
    background-color: white;
    width: 80%;
    margin-bottom: 15px;
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-weight: 700;
    line-height: 30px;
    line-height: 35px;
}
.disc{
    width: 110%;
    line-height: 25px;
    font-family: Montserrat;
    font-weight: 500;
    color:  hsl(228, 12%, 48%);
=======
.details h1{
    background-color: white;
    width: 80%;
    margin-bottom: 6%;
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-weight: 900;
    line-height: 32px;
}
.content{
    background-color: white;
    width: 100%;
    font-size: 0.9rem;
    line-height: 22px;
    font-family: Montserrat;
    font-weight: 700;
>>>>>>> de93ddb2a75359aa206ce7a96fbc80ba9017107b
}
.price{
    display: flex;
    align-items: center;
<<<<<<< HEAD
    gap: 15%;
    margin: 12% 0 12%;
}
.price h2{
    font-size: 250%;
    color:  hsl(158, 36%, 37%);
    font-family: fraunces;
=======
    gap: 6%;
    background-color: white;
    margin: 12% 0 12%;
}
.price h2{
    font-size: 2.5em;
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-weight: 900;
    background-color: white;
>>>>>>> de93ddb2a75359aa206ce7a96fbc80ba9017107b
}
.price p{
    font-size: .8rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-weight: 700;
    background-color: white;
}
.btn{
    padding: 15px;
    width: 100%;
    border-radius: 2vh;
<<<<<<< HEAD
    background-color:  hsl(158, 36%, 37%);;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: hsl(158, 54%, 21%);
=======
    background-color: hsl(158, 36%, 37%);
    cursor: pointer;
    border: none;
>>>>>>> de93ddb2a75359aa206ce7a96fbc80ba9017107b
}
.btn i{
    color: white;
    font-size: 18px;
    margin-right: 5%;
    background-color: hsl(158, 36%, 37%);
}
.btn p{
    color: white;
    font-size: 1.5em;
    background-color: hsl(158, 36%, 37%);
}

@media screen and (max-width:720px){
    .container{
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        width: 150%;
        margin: 5%;
        height: auto;
=======
        width: 100%;
>>>>>>> de93ddb2a75359aa206ce7a96fbc80ba9017107b
    }
    .picture{
        width: 100%;
    }
    .picture img{
        content: url(image-product-mobile.jpg);
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
        border-bottom-left-radius: 0;
    }
    .details{
        width: 100%;
    }
    .details h1{
        width: 100%;
        line-height: 40px;
    }
    .disc{
        line-height: 30px;
        /* word-spacing: 5px; */
        padding: 9px
    }
    .price{
        margin: 5% 0;
    }
    .btn{
        margin-top: 10px;
    }
}